<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">  
    
   
    <bean id="tractorConversionServiceFacade" class="com.tractor.converter.facade.TractorConversionServiceFacade">
        <property name="conversionService" ref="conversionService" /> 
    </bean>
   
    
    <bean id="conversionService" class="com.tractor.converter.factory.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <!-- find -->
                <!-- request -->            
                <ref bean="tractorCreateRequestConversion" />
                <!-- response -->
                <ref bean="tractorCreateResponseConversion" />
               
                          
            </list>
        </property>
    </bean>
   
    <bean id="tractorCreateRequestConversion" class="com.tractor.coversionlogic.InRequestToInEntity" />
    <bean id="tractorCreateResponseConversion" class="com.tractor.coversionlogic.OutEntityToOutResponce" />
       
</beans>
